@charset "ISO-8859-1";


#news {
	color: blue;
}

body {
	margin: 0px;
	padding: 0px;
	
}

#mainpageHeaderDiv > h1 {
	font-family: verdana;
	text-align: center;
	font-size: 70px
}


.homeSection {
	display: block;
}
#navigationBar {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333;
  	overflow: hidden;
}

#navigationBar > a {
	color: white;
	text-decoration: none;
	
}

#navigationBar > a:hover {
	color: #D3D3D3;
	text-decoration: none;
	
}


#navigationBar > .leftNavigation {
	padding: 5px;
	float: left;
}

#navigationBar > .rightNavigation {
	padding: 5px;
	float: right;
}