@charset "ISO-8859-1";

body {
	margin: 0px;
	padding: 0px;
	
}

#mainpageHeaderDiv > h1 {
	font-family: verdana;
	text-align: center;
	font-size: 70px
}


.homeSection {
	display: block;
}
#navigationBar {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333;
  	overflow: hidden;
}

#navigationBar > a {
	color: white;
	text-decoration: none;
	font-family: serif-sans;
	
}

#searchBar > input {
	width: 90%;
}

#navigationBar > a:hover {
	color: #D3D3D3;
	text-decoration: none;
	
}

.mainElements {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 10px 0;
}

#news {
	height: 400px;
	color: white;
	text-align: center;
	vertical-align: center;
	background-color: #333;
}

#results > p {
	font-size: 45px;
}

.itemResult {
	border-bottom: 2px solid black;
}

.itemResultLeft {
	margin-left: 5px;
	float: left;
}

.itemResultRight {
	float: right;
}

.itemResultLeft > .itemName {
	padding: 0;
	font-size: 20px;
}
.itemResultLeft > .itemCategory {
	padding: 0;
	color: gray;
}





.itemResultRight .itemButton {
	background-color: black;
	color: white;
}

#reviewSection {
	display: block;
	white-space: nowrap;
	
	background-color: green;
}

#bookOverview {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}
#reviewContent {
	width: 50%;
	height: 50%;
}



#navigationBar > .leftNavigation {
	padding: 5px;
	float: left;
}

#navigationBar > .rightNavigation {
	padding: 5px;
	float: right;
}