#navigationBar {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333;
	overflow: hidden;
}

#navigationBar>a {
	color: white;
	text-decoration: none;
	font-family: serif-sans;
}

#navigationBar>a:hover {
	color: #D3D3D3;
	text-decoration: none;
}

#navigationBar>.leftNavigation {
	padding: 5px;
	float: left;
}

#navigationBar>.rightNavigation {
	padding: 5px;
	float: right;
}